<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872328902883-ds25jd4t9mslausfbelrbqcrspn6j99b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872328902883-ds25jd4t9mslausfbelrbqcrspn6j99b</string>
	<key>API_KEY</key>
	<string>AIzaSyDg9Hjp8gPawFZB4i6Nt1C0plqMTFFc_vo</string>
	<key>GCM_SENDER_ID</key>
	<string>872328902883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>devbilal-to-do-app</string>
	<key>STORAGE_BUCKET</key>
	<string>devbilal-to-do-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872328902883:ios:2299d9820a44f46164edd6</string>
</dict>
</plist>